In [96]:
import pandas as pd
import numpy as np
import missingno as msno
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelBinarizer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.neighbors.nearest_centroid import NearestCentroid
%matplotlib inline

In [11]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
df = pd.concat([train,test])

In [15]:
print ("shape of train :" + str(train.shape))
print("shape of test :" + str(test.shape))
print ("shape of total data:" + str(df.shape))
df.info()

shape of train :(30471, 292)
shape of test :(7662, 291)
shape of total data:(38133, 292)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 38133 entries, 0 to 7661
Columns: 292 entries, 0_13_all to zd_vokzaly_avto_km
dtypes: float64(121), int64(155), object(16)
memory usage: 85.2+ MB

In [121]:
df_clean = df 

#Replace the NA value of floor with zero 
df_clean["floor"] = df_clean.floor.fillna(value = 0)
df_clean.floor.value_counts(dropna=False)

#Replace the NA value of max_floor with the value of floor 
df_clean["max_floor"] = df_clean.max_floor.fillna(df_clean.floor)

df_clean.sub_area = df_clean.sub_area.astype("category")

def build_year_predict(zone):
    build_year_zone  = df_clean[["build_year","sub_area","price_doc"]].dropna(axis=0,how='any')
    build_year_zone = build_year_zone[build_year_zone.sub_area == zone]
    return (int(build_year_zone.build_year.mean()))

df_clean["build_year"] = df_clean.apply(lambda x : build_year_predict(x.sub_area),1)

In [122]:
df_clean.build_year.value_counts(dropna=False)

1669      2629
1027      1956
1755      1710
1975      1281
1965      1177
1978      1169
1365      1154
1982      1092
1968      1019
1660       859
1823       852
1972       849
1974       841
1967       812
1979       806
1970       763
1742       738
1977       724
1969       722
1976       713
1567       706
1987       633
1550       600
1932       571
1939       570
1752       541
1792       529
1638       524
1964       493
1883       478
          ...
1929       228
1990       226
1946       225
1936       219
1961       215
194766     195
1948       189
1879       178
1992       175
1906       173
1973       173
1411       168
1980       162
1957       143
1891       140
1955       114
1981       101
2007       101
2003        83
1963        70
1902        59
1999        52
1944        44
732         33
1984        30
1750        28
1991        23
1949        22
2012         4
2011         4
Name: build_year, Length: 82, dtype: int64